body {
background-image: url("https://t4.ftcdn.net/jpg/03/36/58/43/360_F_336584393_44SroB1zIMM3oXI5sCcHMXinOqBdiAod.jpg");
background-size:cover;
background-repeat:no-repeat;
height: 100%;
;}


/*button styling*/
#next{
    padding: 20px 20px;
    display: inline-block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3em;
    overflow: hidden;
}

/*button animation effect*/
#next:hover{
    color: #111;
        background: #39ff14;
        box-shadow: 0 0 50px #39ff14;
}